<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cwitter - Home</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    .navbar {
      background-color: #007bff;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .navbar-brand {
      color: #fff;
      font-size: 24px;
      text-decoration: none;
    }
    .navbar-btn {
      padding: 8px 15px;
      background-color: #fff;
      color: #007bff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
    }
    .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .tweet {
      margin-bottom: 20px;
      padding: 15px;
      background-color: #f9f9f9;
      border-radius: 5px;
    }
    .tweet-text {
      font-size: 18px;
      color: #333;
      margin-bottom: 10px;
    }
    .tweet-author {
      font-size: 16px;
      color: #666;
      margin: 1px;
    }
    .form-container {
      margin-top: 20px;
    }
    .form-container textarea,
    .form-container input[type="text"] {
      width: calc(100% - 20px);
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    .form-container input[type="submit"] {
      padding: 10px 15px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <nav class="navbar">
    <a href="/post" class="navbar-brand">Cwitter</a>
    <a href="/myprofiles/<%= id %>" class="navbar-btn">My Profile</a>
    <a href="/profiles" class="navbar-btn">All Users</a>
    <a href="/logout" class="navbar-btn">Logout</a>
  </nav>
  
  <% data.forEach(e => { %>
    <div class="container">
      <div class="tweet">
        <% e.Posts.forEach(i => { %>
          <img src="<%= e.photoProfile %>" alt="" width="50" height="50">
          <p style="margin-top: 1px;"  class="tweet-text"><%= i.content %></p>
          <% i.Tags.forEach(j => { %>
            <span style="margin: 1px" class="tweet-text"><%= j.hashTag %></span>
            <% }); %>
            <a href="/profiles/<%= e.id %>"><p class="tweet-author">Posted by <%= e.name %></p></a>
            <p class="tweet-author"><%= published(i.createdAt) %></p> <hr>
            <% }); %>
      </div>
    </div>
    <% }); %>
</body>
</html>
