<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Cards</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    .navbar {
      background-color: #007bff;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      /* Menyusun item di navbar secara horizontal */
      align-items: center;
      /* Memposisikan item di tengah navbar */
    }

    .navbar-brand {
      color: #fff;
      font-size: 24px;
      margin-right: 20px;
      text-decoration: none;
    }

    .container {
      max-width: 800px;
      margin: 20px auto;
      /* Penambahan margin di sini */
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .card {
      width: 300px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 10px;
      /* Penambahan margin di sini */
      overflow: hidden;
    }

    .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .card-content {
      padding: 20px;
    }

    .name {
      font-size: 24px;
      color: #333;
      margin-bottom: 10px;
    }

    .address {
      font-size: 18px;
      color: #666;
      margin-bottom: 20px;
    }

    .tweet {
      margin-top: 20px;
      padding: 10px;
      background-color: #f9f9f9;
      border-radius: 5px;
    }

    .tweet-text {
      font-size: 18px;
      color: #333;
      margin-bottom: 10px;
    }

    .tweet-author {
      font-size: 16px;
      color: #666;
      margin: 1px;
    }

    .form-container {
      width: 100%;
      margin-top: 20px;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-container textarea {
      width: calc(100% - 22px);
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      resize: vertical;
    }

    .form-container input[type="text"],
    .form-container input[type="submit"] {
      width: calc(100% - 22px);
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .form-container input[type="submit"] {
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }

    .form-container input[type="submit"]:hover {
      background-color: #0056b3;
    }

    .logout-btn {
      padding: 8px 15px;
      background-color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .people-content-btn {
      padding: 8px 15px;
      background-color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      /* Menambahkan style untuk menghapus underline */
      margin-right: 10px;
      /* Menambahkan margin untuk jarak dari tombol search */
    }

    .checkbox-container {
      display: flex;
      flex-wrap: wrap;
    }

    .checkbox-container input[type="checkbox"] {
      margin-right: 10px;
      /* Atur margin antara checkbox */
    }
  </style>
</head>

<body>
  <nav class="navbar">
    <a href="/post" class="navbar-brand">Cwitter</a>
    <a href="/post" class="people-content-btn">People Content</a>
    <a style="text-decoration: none;" href="/logout" class="logout-btn">Logout</a>
  </nav>
  <div class="container">
    <% data.forEach((e)=> { %>
    <div class="card">
      <img src="<%= e.photoProfile %>" alt="Profile Photo">
      <div class="card-content">
        <h2 class="name"><%= e.name %></h2>
        <p class="address"><%= e.address %></p>
        <p class="address"><%= e.userName %></p>
        <a href="/myprofiles/<%= e.id %>/edit"><button>Edit</button></a>
      </div>
    </div>
  </div>
  <div class="form-container">
    <form action="/myprofiles/<%= e.id %>" method="post" id="post-form">
      <textarea name="content" placeholder="Type your post here..." rows="4"></textarea>
      <div class="checkbox-container">
        <% tag.forEach(k => { %>
        <input type="checkbox" name="hashTag" value="<%= k.id %>">
        <label for="#Meembee"><%= k.hashTag %></label>
        <% }) %>
        <br>
        <input type="submit" value="Post">
      </div>
    </form>
  </div>
  <div class="tweet">
    <% if( e.Posts ) { %>
      <% e.Posts.forEach(i => { %>
        <img src="<%= e.photoProfile %>" alt="" width="50" height="50">
        <p class="tweet-text"><%= i.content %></p>
      <% i.Tags.forEach(j => { %>
        <span style="margin: 1px;" class="tweet-text"><%= j.hashTag %></span>
        <a href="/profiles/<%= e.id %>">
        </a>
      <% }); %>
        <p class="tweet-author">Posted by <%= e.name %></p>
        <p class="tweet-author"><%= published(i.createdAt) %></p>
        <a href="/myprofiles/<%= e.id %>/delete/<%= i.id %>"><button>Delete</button></a>
        <hr>
      <% }); %>
    <% } %>

  </div>
  <% }) %>
</body>

</html>